.firstImage {
    width: 100%;
}

.map {
    padding-top: 1cm;
}

h3 {
    padding-bottom: 1cm;
}

.here {
    color: #428a7e;
    
}

.map1 {
    padding-top: 1cm;
}

.location {
    padding-top: 1cm;
}